@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  color: rgb(36,36,36);
  text-align: left;
}

p {
  font-size: 15px;
  line-height: 22px;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

#header {
  background-color: rgb(36,36,36);
  color: #989898;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  width: 60%;
  overflow: auto;
  clear: both;
}

.project {
  width: 33%;
  overflow: auto;
  float: left;
  margin: 0 auto;
  text-align: center;
}

#project_links {
  background-color: #eee;
  padding-bottom: 20px;
  height: 100%;
}

.clear {
  clear: both;
}

.divider {
  padding-top: 20px;
}

.button_live {
  border: 2px solid rgb(38,158,233);
  padding: 10px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(38,158,233);
  border-radius: 2px;
}

.button_live:hover {
  opacity: 0.6;
}

.button_git {
  border: 2px solid rgb(228,129,215);
  padding: 10px;
  width: 80px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: rgb(228,129,215);
  border-radius: 2px;
}

.button_git:hover {
  opacity: 0.6;
}

.image {
  margin-top: 40px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

#footer {
  background-color: rgb(36,36,36);
  color: #989898;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
